{%extends 'disciplineBase.html'%}

{%block 'linkBack'%}<a href="http://localhost:8000/home/">voltar</a>{% endblock %}

{%block 'title'%}Linguagens Formais E Autômatos{%endblock%}

{%block 'titleBody'%}Linguagens Formais E Autômatos{%endblock%}
{%block 'teacherName'%}Evando Carlos Pessini {%endblock%}


{%block 'textObjetive'%}Ao término desta disciplina o aluno deverá ter conhecimento das classes das Linguagens compreendidas pela Hierarquia de Chomsky. O aluno deverá conhecer as características estruturais de tais linguagens, bem como das gramáticas que as geram e os mecanismos de reconhecimento das mesmas. O estudo das Linguagens Regulares deve desdobrar-se no estudo de expressões regulares, as quais apresentam ampla aplicação. A apresentação dos tópicos referentes a Linguagens Livres de Contexto fornece subsídios para o estudo da compilação de linguagens de programação de alto nível. Esta disciplina também tem por objetivo estudar e comparar as linguagens regulares e livres de contexto com as linguagens recursivas, mais abstratas e situadas no topo da hierarquia de Chomsky e dar ao aluno subsídios para definir linguagens de programação por meio do uso de gramáticas formais.{%endblock%}


{%block 'textCourseSyllabus'%}Gramática, Linguagem e autômatos. Autômatos finitos. Gramáticas regulares. Gramáticas livres do contexto. Autômatos com pilha. Gramáticas sensíveis ao contexto. Gramáticas irrestritas. Máquina de turing com fita finita e infinita. Linguagens com sentido de frase. Relações e indução matemática.{%endblock%}
