
{%extends 'base.html'%}

{%block 'body'%}
<header>
    <!-- Colocar a foto de perfil aqui     -->

    {% load static %} <img src="{% static "home/media/perfil.jpg"%}"/>
    <h1>Rafael G.Omodei</h1>
    <p>Cursando  Ciência da Computação...</p>
    <!-- TODO: colocar aqui o link doo git e do linkdin -->
</header>


<footer>
    
    <div class="constainer-butons-my-discipline">
        <p class="p-my-discipline">Disciplinas que estou cursando em <b>2021/2</b></p>
        <div class="div-butons-my-discipline">
            <a class="btn-my-discipline" href="http://localhost:8000/fsi/">Fundamentos De Sistemas Inteligentes</a>
            <a class="btn-my-discipline" href="http://localhost:8000/lpw/">Linguagens De Programação Para Web</a>
            <a class="btn-my-discipline" href="http://localhost:8000/rd2/">Redes De Computadores 2</a>
            <a class="btn-my-discipline" href="http://localhost:8000/lfa/">Linguagens Formais E Autômatos</a>
        </div>
    </div>



</footer>
{%endblock%}

