{%extends 'disciplineBase.html'%}

{%block 'linkBack'%}<a href="http://localhost:8000/home/">voltar</a>{% endblock %}

{%block 'title'%}Linguagens De Programação Para Web{%endblock%}

{%block 'titleBody'%}Linguagens De Programação Para Web{%endblock%}
{%block 'teacherName'%}Elenilton Jairo Dezengrini{%endblock%}


{%block 'textObjetive'%}Ao final da disciplina o acadêmico estará apto a compreender os fundamentos básicos e as aplicações relativas à Linguagem Web. {%endblock%}


{%block 'textCourseSyllabus'%}A disciplina aborda o estudo de uma linguagem de programação para web, proporcionando subsídios para o desenvolvimento de ambientes computacionais com funcionalidade e, além disso, com aplicações tendo acesso a bancos de dados via web, aplicando os conceitos de programação cliente-servidor.{%endblock%}
