{%extends 'disciplineBase.html'%}

{%block 'linkBack'%}<a href="http://localhost:8000/home/">voltar</a>{% endblock %}

{%block 'title'%}Redes De Computadores 2{%endblock%}

{%block 'titleBody'%}Redes De Computadores 2{%endblock%}
{%block 'teacherName'%}Euclides Peres Farias Junior{%endblock%}


{%block 'textObjetive'%}Proporcionar aos alunos conhecimentos essenciais e necessários para a compreensão dos fundamentos, da arquitetura e miscelâneas empregadas nas redes de computadores.{%endblock%}


{%block 'textCourseSyllabus'%}Tecnologias de acesso. Padronização IEEE. Tecnologia Ethernet e suas variantes. Tecnologias de comutação (switching). Tecnologia de redes sem fio. Redes metropolitanas e de banda larga. Tecnologia de redes ópticas. Aplicações sobre tecnologias de rede. Qualidade de Serviço (QoS) em redes. Gerência e Segurança.{%endblock%}
