{%extends 'disciplineBase.html'%}

{%block 'linkBack'%}<a href="http://localhost:8000/home/">voltar</a>{% endblock %}

{%block 'title'%}Fundamentos De Sistemas Inteligentes{%endblock%}

{%block 'titleBody'%}Fundamentos De Sistemas Inteligentes{%endblock%}
{%block 'teacherName'%}Thiago Franca Naves{%endblock%}


{%block 'textObjetive'%}Apresentar aos discentes os conceitos iniciais da área de inteligência artificial e os sistemas inteligentes que compõem uma subárea dessa. Funcionamento de algoritmos de busca e os tipos de problemas que são resolvidos com essa técnica, explorar as diferenças entre os principais algoritmos e os problemas aplicados. Resolução de problemas com satisfação de restrições. Apresentar os conceitos e aplicabilidade de lógica no contexto de sistemas inteligentes utilizando lógica de primeira ordem, inferência sobre bases de conhecimentos e sistemas especialistas.{%endblock%}


{%block 'textCourseSyllabus'%}História da IA e subáreas. Agentes inteligentes. Resolução de Problemas por meio de busca. Busca Competitiva e Satisfação de restrições. Lógica.{%endblock%}
